{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

<form id="setting" class="well form-horizontal con" action="{{ url_for('setting') }}" method="POST" accept-charset="utf-8">
    <fieldset>
        {{ form.hidden_tag() }}
    <div class="control-group">
                    <div class="control-label">{{ form.cell.label }}</div>
                    
                    <div class="controls">
                        {{ form.cell|safe }}
                        {% if form.cell.errors %}
                        <ul class="errors">
                            {% for error in form.cell.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div class="control-group">
                    <div class="control-label">{{ form.provider.label }}</div>
                    <div class="controls">
                        {{ form.provider|safe }}
                        {% if form.provider.errors %}
                        <ul class="errors">
                            {% for error in form.provider.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
    </fieldset>
    <input class="btn btn-primary" type="submit" value="Save setting"/>

{% endblock content%}